@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300);
/*@import url(https://fonts.googleapis.com/css?family=Inconsolata);*/

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
